<div>
<table>
    <tbody>
        <tr>
            <th>Artist Name</th>
            <th>Album</th>
        </tr>
        {{#each combined}}
        <tr>
            <td>{{this.Name}}</td>
            <td>{{this.Title}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
