<div>
<table>
    <tbody>
        <tr>
            <th>Artist Name</th>
            <th>Album</th>
        </tr>
        <tr>
            <td>{{req.body.name}}</td>
            <td>{{req.body.title}}</td>
        </tr>
    </tbody>
</table>
</div>
