{{!-- <form action="/article" method="POST">
    <div>
        <label for="ArtistId">Artist Id: </label>
        <input type="text" name="artistId">
    </div>
    <br />
    <div>
        <label for="name">Name: </label>
        <input type="text" name="name">
    </div>
    <br />
    <div>
        <label for="title">Title: </label>
        <input type="text" name="title">
    </div>
    <br />
    <div>
        <button type="submit">Submit</button>
    </div>
</form> --}}

<div>
<table>
    <tbody>
        <tr>
            <th>Artist Name</th>
            <th>Album</th>
        </tr>
        <tr>
            <td>{{res.body.name}}</td>
            <td>{{res.body.title}}</td>
        </tr>
    </tbody>
</table>
</div>
